/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #007f73;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section { 
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

/* Header Section Code */

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    z-index: 1000;
}

